@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Josefin Sans";
    background: black;
}

.header {
    background: black;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px; 
}

.nav-list {
    display: flex;
    gap: 50px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    text-decoration: underline;
    color: goldenrod;
}

.logo {
    height: 85px;
}

.tittle {
    color: whitesmoke;
    padding: 0 0 50px 75px;
    font-size: 35px;
}

.parrafo {
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
    padding: 50px;
}


.form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.button {
    font-family: "Josefin Sans";
    font-size: 17px;
    height: 35px;
    width: 120px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 30px;
}

.button:hover {
    background: black;
    color: goldenrod;
    box-shadow: 10px;
}

.section1 {
    /*background: red;*/
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.cama {
    height: 500px;
    margin-right: 70px;
    margin-left: 50px;
    border-radius: 30px;
}

.section2 {
    /*background: red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 50px;
}

.parrafo2 {
    font-size: 20px;
    color: whitesmoke;
}

.section3 {
    background: black;
    padding: 25px;
}

.section3 h2 {
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
}

.section3 p {
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

.card {
    width: 25%;
}

.article-father {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 25px;
}

/*.benefit1 h3 {
    color: whitesmoke;
    padding: 10px;
    font-size: 25px;
}

.benefit2 h3 {
    color: whitesmoke;
    padding: 10px;
    font-size: 25px;
}

.benefit3 h3 {
    color: whitesmoke;
    padding: 10px;
    font-size: 25px;
}

.benefit1 p {
    padding: 15px;
}*/

.article-father h3 {
    color: whitesmoke;
    padding: 20px;
    font-size: 25px;
}

.article-father p {
    padding: 0 50px;
}

.section4 {
    /*background: red; */
}

.section4 h2 {
    font-size: 30px;
    color: whitesmoke;
    text-align: center;
}

.section4 p {
    font-size: 20px;
    text-align: center;
    color: whitesmoke;
    margin: 10px;
}

.father {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 25px;
}

.father h3 {
    color: whitesmoke;
    padding: 20px;
    font-size: 25px;
}

.father p {
    padding: 0 50px;
}

.Mati♥ {
    color: whitesmoke;
    padding: 10px;
}